@import "swiper_part.css";

/*!
 *   laymic base
 * reference: [ress 2.0.1](github.com/filipelinhares/ress)
 */

.laymic_root {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

.laymic_root button {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  overflow: visible;
  font: inherit;
  margin: 0;
  padding: 0;
  -webkit-appearance: button; /* for iOS */
}

.laymic_root button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.laymic_root svg:not([fill]) {
  fill: currentColor;
}

/*!
 * laymic layout
 */

.laymic_root {
  /*
      javascript側で追加する変数リスト
    * --page-height: 各ページの縦幅
    * --page-width: 各ページの横幅
    * --viewer-padding: 漫画表示周囲の余白ピクセル数
    * --progressbar-width: 進行度バーの幅ピクセル数
    * --js-vh: 正確なvh数字
   */
  width: 100vw;
  height: calc(var(--js-vh, 1vh) * 100);
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  transition: opacity .3s, visibility .3s;
  visibility: hidden;
  opacity: 0;
}

.laymic_root:fullscreen {
  /* 全画面表示時の背景色 */
  background: #444;
}

.laymic_controller {
  position: relative;
  width: 100%;
  height: 100%;
}

.laymic_controllerTop,
.laymic_controllerBottom {
  position: absolute;
  width: 100%;
  height: 3rem;
  background: rgba(0, 0, 0, .5);
  left: 0;
  z-index: 20;
  transition: transform .3s;
  color: #fafafa;
  /* 親要素のカーソル変化に追従させない */
  cursor: auto;
}

.laymic_controllerTop {
  top: 0;
  /* HACK: safari z-index bug対策にtranslate3d使用 */
  transform: translate3d(0, -100%, 0);
  display: flex;
  align-items: center;
  /* 暫定で右寄せ */
  justify-content: flex-end;
}

.laymic_controllerBottom {
  bottom: 0;
  /* HACK: safari z-index bug対策にtranslate3d使用 */
  transform: translate3d(0, 100%, 0);
}

.laymic_progressbar {
  /* #888か#999くらいの配色が良さそう */
  --swiper-pagination-color: rgba(255, 255, 255, .3);
	width: 100%;
	height: var(--progressbar-width);
  top: 0;
  left: 0;
  z-index: 15;
}

/* isLTR設定がfalseの際にのみ有効なスタイル */
.laymic_root:not(.laymic_isLTR) .laymic_progressbar .swiper-pagination-progressbar-fill {
  /* プログレスバーが右から左へ流れるようにする */
  transform-origin: right top;
}

/* 縦読み時はプログレスバーを右側配置 */
.laymic_isVertView .laymic_progressbar {
  height: 100%;
  width: var(--progressbar-width);
  left: auto;
  right: 0;
}

.laymic_isVisibleUI .laymic_controllerTop,
.laymic_isVisibleUI .laymic_controllerBottom {
  transform: translateY(0);
}

.swiper-wrapper {
  /* 縦読み時などでの中央寄せ */
  align-items: center;
}

.laymic_controller,
.laymic_slider {
  -webkit-tap-highlight-color: transparent;
}

.laymic_slider,
.laymic_helpWrapper,
.laymic_thumbsWrapper,
.laymic_preferenceWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.laymic_slider {
  width: calc(100% - var(--viewer-padding) * 2);
  /* 100% - 左右余白 - プログレスバー幅 */
  height: calc(100% - var(--viewer-padding) * 2 - var(--progressbar-width));
  max-width: calc(var(--page-width) * 2);
  max-height: var(--page-height);
  /* プログレスバー幅の半分だけ下にずらす */
  top: calc(50% + var(--progressbar-width) / 2);
}

.laymic_isSingleSlide .laymic_slider {
  max-width: var(--page-width);
}

.laymic_isVertView .laymic_slider {
  /* 100% - 左右余白 - プログレスバー幅 */
  width: calc(100% - var(--viewer-padding) * 2 - var(--progressbar-width));
  height: calc(100% - var(--viewer-padding) * 2);
  overflow: visible;
  max-width: inherit;
  /* 横読み時につけた値を通常値で上書き */
  top: 50%;
  /* プログレスバー幅の半分だけ左にずらす */
  left: calc(50% - var(--progressbar-width) / 2);
}

.laymic_slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--page-width);
  max-height: var(--page-height);
}

.laymic_isVertView .laymic_emptySlide {
  display: none;
}

.swiper-slide img,
.laymic_thumbItem {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  user-select: none;
}

.laymic_help,
.laymic_thumbs,
.laymic_preference {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 18;
  /* 初期状態では非表示とする */
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
}

.laymic_isShowHelp .laymic_help,
.laymic_isShowThumbs .laymic_thumbs,
.laymic_isShowPreference .laymic_preference {
  opacity: 1;
  visibility: visible;
}

/* help */
.laymic_helpWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: #fafafa;
}

/* helpWrapper内に直置きされるタッチアイコン */
.laymic_helpWrapper > .icon_touchApp {
	--icon-size: calc(4vmin + 2rem);
  /* 上下余白幅を若干確保して、`.laymic_helpInnerWrapper`を上に押し上げる */
  margin: 2vmin 0;
}

.laymic_helpInnerWrapper {
  background: rgba(0, 0, 0, .5);
  /* フォントサイズはアイコンより少し小さく */
  font-size: calc(3vmin + .2rem);
  /* フォントサイズを起点に余白指定 */
  padding: .5em;
  /* 気持ち上に引き上げておいたほうがなんか良い気がする */
  margin-top: -2vmin;
}

.laymic_helpInnerItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.laymic_helpIconWrapper {
  display: flex;
}

.laymic_helpIconWrapper .laymic_svgIcon {
  /* 画面サイズと比例させつつ固定値も混ぜる */
  --icon-size: calc(3vmin + .5rem);
}

.laymic_helpIconLabel {
  margin-left: .5vmin;
}

.laymic_helpChevrons {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 念の為helpInnerWrapperより後ろにしておく */
  z-index: -1;
}

.laymic_isVertView .laymic_helpChevrons {
  width: auto;
  height: 100%;
  flex-direction: column;
}

/* ページ送り方向を示唆するヘルプ要素 */
.laymic_helpChevrons .icon_chevronLeft {
  --icon-size: calc(4vmin + 2rem);
}

.laymic_helpChevrons .icon_chevronLeft.laymic_isReversed {
  transform: rotateY(180deg);
}

/* 縦読み時は二つのchevronを適切に回転させる */
.laymic_isVertView .laymic_helpChevrons .icon_chevronLeft {
  transform: rotate(90deg);
}

.laymic_isVertView .laymic_helpChevrons .icon_chevronLeft.laymic_isReversed {
  transform: rotate(270deg)
}

/* UI内に当該ボタンが表示されていない場合は説明の上でも非表示とする */
.laymic_isUnsupportedFullscreen .laymic_helpFullscreenItem,
.laymic_isMobile .laymic_helpZoomItem {
  display: none;
}

/* thumbs */
.laymic_thumbsWrapper {
  /*
    * --thumb-item-width: サムネイル横幅
    * --thumb-item-height: サムネイル縦幅
    * --thumb-item-gap: サムネイル間の余白
    * --thumbs-wrapper-padding: サムネイルラッパーの余白（側面）
  */
  max-height: 90%;
  max-width: 90%;
  padding: 0 var(--thumbs-wrapper-padding);
  background: #333;
  overflow: auto;
  display: grid;
  grid-gap: var(--thumb-item-gap);
  grid-template-columns: repeat(auto-fit, var(--thumb-item-width));
  grid-auto-rows: var(--thumb-item-height);
  width: 100%;
  justify-content: space-around;
  /* なんか下方向のpaddingだけ上手く効かないので苦肉の策 */
  border: solid transparent;
  border-width: 1rem 0;
}

.laymic_thumbItem {
  margin: auto;
	cursor: pointer;
  overflow: hidden;
}

/* preference */
.laymic_preferenceWrapper {
  --font-size: 1.1rem;
  --padding-size: .6rem;
  --item-height: calc(var(--font-size) + var(--padding-size) * 2);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  background: #333;
  padding: 1rem;
  z-index: 18;
  color: #fafafa;
  /* max-contentに対応していないブラウザへのフォールバック */
  height: 19.5rem;
  height: max-content;
  width: 35rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: var(--font-size);
}

/* 副作用を減らすため優先度を上げたい定義のみ対象として指定 */
.laymic_preferenceWrapper .laymic_preferenceButton {
  /* 設定ボタンごとでの余白 */
  margin: .5rem 0;
}

.laymic_preferenceButton {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-height: var(--item-height);
  width: 100%;
  justify-content: space-between;
}

.laymic_preferenceButton,
.laymic_uiButton {
  /* 文字色 + svg配色設定 */
  color: inherit;
}

.laymic_uiButton {
  max-height: 100%;
  max-width: 2.5rem;
  display: flex;
}

/* select button & checkbox button */
.laymic_checkboxIconWrapper {
  display: flex;
  position: relative;
  flex: 0 0 5rem;
  justify-content: flex-end;
}

.laymic_checkboxIconWrapper .laymic_svgIcon {
  --icon-size: var(--item-height);
  /* select右端とcheckboxIcon右端を合わせる */
  margin-right: -5px;
}

.laymic_select {
  font-size: var(--font-size);
  max-height: var(--item-height);
}

.laymic_selectWrapper {
  display: flex;
  flex-flow: column nowrap;
  max-height: inherit;
  position: relative;
  min-width: 5.5rem;
  color: #333;
}

.laymic_selectCurrentItem {
  padding: var(--padding-size);
  background: #e6e6e6;
}

.laymic_selectItem {
  padding: var(--padding-size);
}

.laymic_selectItemWrapper {
  /* 通常時は非表示 */
  display: none;
  background: #fafafa;
  position: absolute;
  /* 最小限の高さで上に浮かせる */
  z-index: 1;
  /* currentItemの下に来るように縦位置を調整 */
  top: var(--item-height);
  width: 100%;
}

.laymic_selectItemWrapper[aria-expanded="true"] {
  /* 展開中は表示する */
  display: block;
}

.laymic_selectItem[aria-selected="true"] {
  /* 選択中ハイライト色設定 */
  background: royalblue;
  color: #fafafa;
}

.laymic_checkboxLabel,
.laymic_selectLabel {
  /* 画面幅が狭い際に効果を発揮する右側余白を追加 */
	margin-right: .5rem;
}

.laymic_preferenceNotice {
  /* フォントサイズをデフォルトに戻す */
  font-size: initial;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  flex: 1 1 auto;
  /* 上下に余白を付ける */
  padding: .5rem 0;
}

.laymic_preferenceNotice p {
  /* 下向け余白をなくす */
  margin: 1rem 0 0;
}

/* PC画面では非表示する要素 */
.laymic_preferenceIsDisableTapSlidePage,
.laymic_preferenceIsDisableForceHorizView {
  display: none;
}

/* スマホ画面では表示する要素 */
.laymic_isMobile .laymic_preferenceIsDisableTapSlidePage,
.laymic_isMobile .laymic_preferenceIsDisableForceHorizView {
  display: flex;
}


.laymic_pagination {
  --swiper-navigation-color: rgba(255, 255, 255, .3);
  display: none;
  cursor: auto;
}

.laymic_root.laymic_isVisiblePagination .laymic_pagination {
  display: flex;
}

.laymic_pagination.laymic_isActive {
  --swiper-navigation-color: rgba(255, 255, 255, .9);
  cursor: pointer;
}

.laymic_pagination.laymic_isHidden {
  visibility: hidden;
  opacity: 0;
}

/* 進むボタン */
.swiper-button-next,
.laymic_isLTR .swiper-button-prev {
  left: 10px;
  right: auto;
}

.swiper-button-next:after,
.laymic_isLTR .swiper-button-prev:after {
  content: 'prev';
}

/* 戻るボタン */
.swiper-button-prev,
.laymic_isLTR .swiper-button-next {
  right: 10px;
  left: auto;
}
.swiper-button-prev:after,
.laymic_isLTR .swiper-button-next:after {
  content: 'next';
}

/* 縦読み時戻る進むボタン */
.laymic_isVertView .swiper-button-next,
.laymic_isVertView .swiper-button-prev {
  left: 50%;
  right: auto;
  margin: 0;
}

.laymic_isVertView .swiper-button-next:after,
.laymic_isVertView .swiper-button-prev:after {
  content: "prev";
}

.laymic_isVertView .swiper-button-next {
  top: auto;
	bottom: 0;
  transform: rotate(-90deg);
}

.laymic_isVertView .swiper-button-prev {
	top: 0;
	bottom: auto;
  transform: rotate(90deg);
}

/* for mobile and zooming */
.laymic_isMobile .laymic_pagination,
.laymic_isZoomed .laymic_pagination {
  pointer-events: none;
  /* モバイル環境ではアイコンハイライト色をオフにする */
  --swiper-navigation-color: rgba(255, 255, 255, .3);
}

/* for unsupported fullscreen api  */
.laymic_isUnsupportedFullscreen .laymic_fullscreen,
.laymic_isUnsupportedFullscreen .laymic_preferenceIsAutoFullscreen {
  display: none;
}

/* zoom */
.laymic_zoomWrapper {
  width: 100%;
  height: 100%;
  transform-origin: top left;
}

.laymic_zoomController {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /* 非ズーム時は裏側に隠す */
  z-index: -1;
  /* DEBUG: デバッグ用の赤色背景 */
  /* background: rgba(255, 0, 0, .3); */
}

.laymic_isZoomed .laymic_zoomController {
  /* 他要素より前にせりでて操作を妨害する */
  z-index: 20;
}

/* disable zoom button for mobile  */
.laymic_isMobile .laymic_zoom,
.laymic_isMobile .laymic_preferenceZoomButtonRatio {
  display: none;
}

/* laymic template */
.laymic_template {
  /* 中身だけ取り出すので表示する必要はない */
  display: none;
}

/* icons */
.laymic_svgIcon {
  --icon-size: 3rem;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon_checkboxInner {
  /* checkboxOuter要素と重ねる */
  position: absolute;
  right: 0;
  top: 0
}

.laymic_root .icon_horizView,
.laymic_root .icon_exitFullscreen,
.laymic_root .icon_checkboxInner,
.laymic_isVertView .icon_vertView,
.laymic_isFullscreen .icon_fullscreen {
  display: none;
}

.laymic_isVertView .icon_horizView,
.laymic_isFullscreen .icon_exitFullscreen,
.laymic_preferenceButton[aria-checked="true"] .icon_checkboxInner {
  display: block;
}

/*
  helpでのページ送り方向アイコン
  縦読みモードでは90度回転させる
*/
.laymic_isVertView .icon_viewerDirection {
  transform: rotate(90deg);
}
